.circle {
    width: 250px;
    height: 250px;
    background: red;
    border-radius: 50%
  }

  div {
      transition: transform 1.25s;
      transition-timing-function: ease-in;
    }
    
    div:hover {
      transform: translate(500px, 400px);
    }
    body{
        padding: 50px;
    }