ul.nav{
    margin-left: 100px;
    padding-left: 0px;
    list-style: none;
}
body {
    background:rgba(204, 124, 150, 0.897);
    color: rgb(255, 255, 255);
   }
   .main {
    width:70%;
    color: white;
    margin: 100px;
    padding: 0px;
  }
  footer{
    text-align: center;
    background:rgba(255, 255, 255, 0.911);
	  width: 100%;
  }
